.heading {
  text-align: center;
}

.history-heading {
  padding: 10px;
}

.history {
  width: 100%;
  overflow: scroll;
  position: relative;
  height: 160px;
}

.history-list li {
  background-color: white;
  box-shadow: var(--box-shadow);
  color: black;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 1px 50px 5px 1px;
}

.history-list li.positive {
  border-right: 5px solid green;
}

.history-list li.negative {
  border-right: 5px solid red;
}

.total-balance {
  white-space: nowrap;
  width: 480px;
  overflow: hidden; 
  text-overflow: ellipsis;
  padding-left: 10px;
  text-align: left;
}

.new-transaction {
  padding: 10px;
}

.error-label {
  color: red;
  text-align: center;
}

.new-transaction input {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px 10px;
  box-shadow: inset;
}

.new-transaction label {
  font-weight: bold;
  display: block;
  margin: 1vh 0 1vh 0;
}

.new-transaction button {
  width: 100%;
  background-color: #8c1aff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.income-expense-form {
  box-shadow: var(--box-shadow);
  padding: 10px;
  justify-content: space-around;
  margin: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.middle-border {
  display: flex;
  flex-direction: column;
  border-left: 2px solid grey;
}

.income {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
}

.expense {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
}

.income-money {
  color: green;
  font-weight: bold;
}

.expense-money {
  color: red;
  font-weight: bold;
}

@media (max-width: 800px){
  .App {
    width: 100%;
  }
}
